<!--Asma Ahmed
Student Number: 991699083 -->

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>A3_Asma_Ahmed</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="header"><nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Employee Application</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index.html">Employee</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./RegisterDepartment.html">Register Department</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./department.html">Department</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav></div>

          <form class="container m-3">
            <div class="form-group row m-2 d-none" id="idField">
              <label for="inputID" class="col-sm-2 col-form-label">ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputID" placeholder="" disabled>
              </div>
            </div>
            <div class="form-group row m-2">
              <label for="inputEmail3" class="col-sm-2 col-form-label" required>Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group row m-2">
                <label for="inputEmail3" class="col-sm-2 col-form-label" required>First Name</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputfirstName" placeholder="First Name" required>
                </div>
              </div>
              <div class="form-group row m-2">
                <label for="inputEmail3" class="col-sm-2 col-form-label" >Last Name</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputLastName" placeholder="First Name" required>
                </div>
              </div>
            <fieldset class="form-group row m-2">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="MaleRadio" value="Male" checked>
                    <label class="form-check-label" for="gridRadios1">
                      Male
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="FemaleRadio" value="Female">
                    <label class="form-check-label" for="gridRadios2">
                      Female
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="form-group row m-2">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Hire Date</label>

                <div class="col-sm-10">
                <input type="date" id="hire_dateInput" name="hire_dateInput" required>
                </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" id="actionButton">Add</button>
              </div>
            </div>
          </form>

          <table class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>

          <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Asma Ahmed</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Student ID 991699083 </a></li>
              </ul>
              <p class="text-center text-body-secondary">© 2025 Sheridan College ❤️</p>
            </footer>
          </div>
          </body>
        
        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  <script>
    let userData = []; 

    async function fetchData() {
        console.log("Fetching data...");
        try {
            let response = await fetch("http://localhost:8080/employee/getEmployees/");
            userData = await response.json();

            let tableBody = document.getElementById("table-body");
            tableBody.innerHTML = ""; 

            userData.forEach(user => {
                let row = `<tr>
                    <td>${user.emp_id}</td>
                    <td>${user.first_name}</td>
                    <td>${user.last_name}</td>
                    <td>${user.email}</td>
                    <td>${user.gender}</td>
                </tr>`;
                tableBody.innerHTML += row;
            });

        } catch (error) {
            console.error("Error fetching data:", error);
        }
    }

    function checkEmail() {
            let emailInput = document.getElementById("inputEmail").value.trim();
            let first_nameInput = document.getElementById("inputfirstName");
            let last_nameInput = document.getElementById("inputLastName");
            let genderInput = document.getElementById("usernameInput");
            let hire_dateInput = document.getElementById("hire_dateInput");
            let idDiv = document.getElementById("idField");
            let idField = document.getElementById("inputID");



            let actionButton = document.getElementById("actionButton");

            let foundUser = userData.find(user => user.email.toLowerCase() === emailInput.toLowerCase());

            if (foundUser) {
                emailInput.value = foundUser.email; 
                idField.value = foundUser.emp_id;
                first_nameInput.value = foundUser.first_name;
                last_nameInput.value = foundUser.last_name;
                hire_dateInput.value = foundUser.hire_date;
                            if (foundUser.gender === 'M') {
            document.getElementById('MaleRadio').checked = true;
            } else {
            document.getElementById('FemaleRadio').checked = true;
            }
            idDiv.classList.remove("d-none");
                actionButton.textContent = "Update"; 
                actionButton.classList.remove("btn-primary");
                actionButton.classList.add("btn-warning");
            } else {
              idDiv.classList.add("d-none");
                actionButton.textContent = "Add"; 
                actionButton.classList.remove("btn-warning");
                actionButton.classList.add("btn-primary");
            }
        }

    document.getElementById("inputEmail").addEventListener("input", checkEmail);

    fetchData(); 

    function isValidEmail(email) {
    let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; 
    return emailPattern.test(email);
}
    document.getElementById("actionButton").addEventListener("click", async function(event) {
    event.preventDefault(); 

    let email = document.getElementById("inputEmail").value.trim();
    let firstName = document.getElementById("inputfirstName").value.trim();
    let lastName = document.getElementById("inputLastName").value.trim();
    let hireDate = document.getElementById("hire_dateInput").value.trim();
    let gender = document.querySelector('input[name="gridRadios"]:checked').value;
    if (!email  || !firstName || !lastName || !hireDate || !gender) {
        alert("All fields are required. and email should be valid");
        return;
    }

    if (!isValidEmail(email)) {
        alert("Please enter a valid email address.");
        return;
    }

    let actionButton = document.getElementById("actionButton");

    let payload = {
        email: email,
        first_name: firstName,
        last_name: lastName,
        hire_date: hireDate,
        gender: gender=='Male'?'M':'F'
    };

    try {
        if (actionButton.textContent === "Add") {
            let response = await fetch("http://localhost:8080/employee/addEmployee", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(payload)
            });

            if (response.ok) {
                fetchData(); 
            } else {
                alert("Failed to add employee.");
            }

        } else if (actionButton.textContent === "Update") {
          payload.emp_id = document.getElementById("inputID").value.trim();
            let response = await fetch(`http://localhost:8080/employee/updateEmployee`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(payload)
            });

            if (response.ok) {
                fetchData();
            } else {
                alert("Failed to update employee.");
            }
        }
    } catch (error) {
        console.error("Error:", error);
        alert("An error occurred. Please try again.");
    }
});


</script>

</body>
    </body>
</html>
